<div class="flex-container">

<%= simple_form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer, "Name On Account" %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.text_field :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :address, "Delivery Address" %><br>
    <%= f.text_field :address %>
  </div>


    <div class="submit_button field center">
      <%= f.button :submit, "Save", class: "signature_pad_save" %>
    </div>
  </div>
<% end %>

</div>
