
<p id="notice"><%= notice %></p>

<div class='invoices-header'>
  <% if @day %>
    <% if @day == "Current Week" %>
      <h1 class="center">Listing Invoices for Week of <%= Time.now.beginning_of_week.strftime("%B %d, %Y") %></h1>
    <% else %>
      <h1 class="center">Listing Invoices for <%= @day %></h1>
    <% end %>
  <% else %>
    <h1 class="center">Listing Invoices for Week of <%= Time.now.beginning_of_week.strftime("%B %d, %Y") %></h1>
  <% end %>
</div>

<div class="dropdown-form center">
  <%= form_tag invoices_path, id: "hi", method: :get do %>
      <!-- <label for="list">List by:</label> -->
    <select name="day" class="dropdown-form">
      <option>List By:</option>
      <option>Current Week</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>All Invoices</option>
      <option>Undelivered</option>
      <input type="submit" value="<%= '&#128269;'.html_safe %>">
    </select>
  <% end %>
  <%= link_to 'New Invoice', new_invoice_path %>
</div>

<div class="flex-column invoices-table">
  <table class="invoices-table">
    <thead class="invoices-table">
      <tr>
        <th class="invoices-table">#</th>
        <th class="invoices-table"><%= '&#128587;'.html_safe %> Customer</th>
        <th class="invoices-table"><%= '&#127968;'.html_safe %> Address</th>
        <th class="invoices-table"><%= '&#128197;'.html_safe %> Date</th>
        <th class="invoices-table"><%= '&#128230;'.html_safe %></th>
      </tr>
    </thead>

    <tbody class="invoices-table">
      <% @invoices.each do |invoice| %>
        <tr data-link="<%= invoice_path(invoice) %>">
          <td><%= link_to "#{invoice.id}", invoice %></td>
          <td><%= invoice.customer %></td>
          <td><%= invoice.address %></td>
          <td><%= invoice.delivery_date.strftime("%B %d, %Y") %></td>
          <td><% if !invoice.signature %>
            <%= link_to 'Sign For', edit_invoice_path(invoice) %>
          <% else %>
            <%= '&#10003;'.html_safe %>
          <% end %></td>
          <!-- <td><%#= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

