<p id="notice"><%= notice %></p>

<h1 class="center">Invoice #<%= @invoice.id %></h1>

<p>
	<strong>Customer:</strong>
	<%= @invoice.customer %>
</p>
<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@invoice.amount) %>
</p>
<p>
	<strong>Delivery Date:</strong>
	<%= @invoice.delivery_date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Delivery Address:</strong>
  <%= @invoice.address %>
</p>
<p>
	<% if @invoice.signature %>
	<%= image_tag @invoice.signature %>
	<% end %>
</p>

<% if !@invoice.signature %>
<%= link_to 'Sign For', edit_invoice_path(@invoice) %> |
<% end %>
<%= link_to 'PDF Invoice', "/invoices/#{@invoice.id}.pdf" %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Home', invoices_path %>
